@charset "utf-8";
/* CSS Document */

body {
	font-family: arial, verdana, sans-serif;
	background-color: #ffdd90;
	background-size: cover;
	background-repeat: no-repeat;
	}
	
div{color:white;}

h1{
	font-family:MV Boli;
	position:relative;
	padding-top:-40px;
}

nav{
	margin: 5;
	width: 100%;
	background-color: #a55b;
	border:5px solid #6f432c;
	box-sizing: border-box;
	padding: 1px;
	text-align:center;
	
}

ul {
	margin: 0;
    padding: 0.5;
    list-style-type: none;
    overflow: hidden;
}

details{
	color:white;
	font-family:MV Boli;
}

li a {
	
    float: left;
	margin: 0;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	padding: 13px;
	box-sizing: border-box
}

li a:hover {
	margin: 0;
    background-color: #6f43;
}

footer {
	color: #fff;
	border:5px solid #422c24;
	background: #e08145;
    width:100%;
    padding: 30px;
    bottom:0;
	margin: 0;
    text-align: center;
	box-sizing: border-box;
}

dialog{
	background-color:#422c24;
	color:white;
	position:relative;
	text-align:left;
	border-radius: 30px 30px 30px 30px;
	box-sizing: border-box;
}

fieldset{
	background-color:#6f432c;
	color:white;
	width:90%;
	position:relative;
	border-radius: 30px 30px 30px 30px;
}

form input[type="text"],form input[type="email"]{
	width:150px;
	padding:3px 10px;
	border: 1px solid #422c24;
	border-radius:3px;
	margin:8px 0;
	display:inline-block;
	
}

form input[type="submit"]{
	
	width:100%;
	padding:8px 1px;
	border: 1px solid #422c24;
	border-radius:3px;
	background-color:#e08145;
	margin:8px 0;
	display:inline-block;
}

input[type="button"]{
	width:30%;
	padding:8px 1px;
	border: 3px solid #422c24;
	border-radius:30px;
	background-color:#e08145;
	display:inline-block;
	color:white;
	
}

input[type="button"]:hover{background-color: #f4c36d;}

.abso{position:absolute;}

.foc:focus{background-color:#e39c6c;}

.thl{
	width: 100%;
	position:relative;
    float: left;
	}

.tt{
	 width: 40%;
	 background-color: #a55b;
	 padding: 30px;
	 border:5px solid #6f432c;
	 border-radius: 0px 100px;
	 box-shadow: 1px 1px 12px 2px #000000;
}

#ald:{
	margin: 0;
	display: block;
	right:5%;
	}

#ald:hover{
	background-color: #a55b;
}